# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.cache
/.vscode
/public
.eslintcache
Quickstart-0bc3821a5a70.json
/src/gamedata/line_up_data.json
google-api.js