# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.cache
/.vscode
/dist
.eslintcache
google_app_credentials.json
lineup_raw_data.json
line_up_data_gtag.json
fetch-line-up-data.js
parseLineupData.js
flatten-text.js
unflatten-text.js
