*,
:after,
:before {
    box-sizing:border-box
}

img,
svg {
    vertical-align:middle
}
svg {
    overflow:hidden
}

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s ease;
    font-family: 'Helvetica', 'Arial', 'LiHei Pro', '黑體-繁', '微軟正黑體',
        '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 490px) {
  html {
      font-size: .9em;
  }
}