body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
    margin: 0;
}

.container-sizer {
    width: calc((100% - 75px) / 6);
}

.gutter-sizer {
    width: 15px;
}

@media (max-width: 1360px) {
    .container-sizer {
        width: calc((100% - 60px) / 5);
    }
}

@media (max-width: 1200px) {
    .container-sizer {
        width: calc((100% - 45px) / 4);
    }
}

@media (max-width: 992px) {
    .container-sizer {
        width: calc((100% - 30px) / 3);
    }
}

@media (max-width: 768px) {
    .container-sizer {
        width: calc((100% - 15px) / 2);
    }
}